.main{
  background: #87a199;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

.desc{
  background: #6b9197;
  width: 300px;
  height: 200px;
  text-align: justify;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}