*{
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.column{
  width: 25%;
  padding: 10px;
}

@media screen and (max-width:992px){
  .column{
    width: 50%;
  }
}

@media screen and (max-width:600px){
  .row{
    flex-direction: column;
  }
}