.grid-container{
  display: grid;
  grid-template-columns: 200px auto auto auto;
  /* grid-template-rows: 200px 100px 100px; */
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
  /* grid-gap: 5px 10px;
  background-color: #032636; */
  justify-content: center;
}

.grid-container > div{
  background-color: #9e4816;
  border: 1px solid #000000;
  text-align: center;
  padding: 5px;
}

.item1{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / 3;
  /* grid-row-start: 1;
  grid-row-end: 4; */
  grid-row: 1 / 4;
}