table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 2px solid black;
  padding: 5px;
}
th {
  background-color: darkgreen;
  color: white;
  height: 30px;
  vertical-align: top;
}

table tr:nth-child(even) {
  background-color: gray;
}
table tr:nth-child(odd) {
  background-color: gold;
}
table tr:hover {
  background-color: tomato;
}
