.social-media{
  background: #757575;
  padding: 50px 20px;
  text-align: center;
}

.social-media .btn{
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  color: #3b5998;
  border-radius: 5px;
  outline: none;
}


.social-media .btn1{
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  color: #e02626;
  border-radius: 5px;
  outline: none;
}