.gradiant-style {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to left, red, green, yellow, orange);
}
.gradiant-style2 {
  height: 400px;
  width: 100%;
  background-image: radial-gradient(circle, red, green, yellow, orange);
}
