* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1000px;
  background-color: #e4f9f5;
  margin: 0 auto;
  padding: 20px;
}
header {
}
.profile-image {
  width: 100px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  float: left;
}
.header-bio {
  float: left;
  padding: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #11999e;
}
.header-contuct {
  float: right;
  padding: 30px;
}
.header-contuct a {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}
.header-contuct a:hover {
  text-decoration: underline;
  color: tomato;
}
.clear-div {
  clear: both;
}
hr {
  border: 3px solid black;
  width: 100%;
  margin: 20px auto;
  border-bottom: none;
}

/* --------------personal section start 
---------------------*/

#personal-section {
}
.content {
  margin-bottom: 30px;
}
.left-div {
  width: 30%;
  float: left;
}
.right-div {
  width: 70%;
  float: left;
}
.common-hr {
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
  margin: 20px auto;
}
/* --------------education section start 
-------------*/
.edu-tamplate-left {
  float: left;
  width: 45%;
}
.edu-tamplate-right {
  float: right;
  width: 45%;
}
/* fotter  section */
.bottom-container {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.bottom-container a {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.bottom-container p {
  color: white;
  margin-top: 20px;
}
