.card-containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #22916c;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin: 0;
}

.card {
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px #000000;
  transition: 0.3s;
  font-size: 0;
}
.img-style {
  width: 100%;
}

.card-body {
  padding: 5px;
  background-color: #1c60b8;
}

.card-body .card-title {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.card-body .card-desc {
  text-align: justify;
  color: #0f0f0f;
  line-height: 1.3;
  font-size: 1rem;
}

.card:hover {
  box-shadow: 6px 10px 20px #0f0f0f;
  margin: 0 20px;
}
