* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.card {
  width: 335px;
  /* height: ; */
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.411);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.411);
}

#result {
  width: 326px;
  height: 90px;
  text-align: right;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 30px;
  padding-right: 5px;
}
.calc-head {
  margin-bottom: 20px;
}
.btn {
  border: 1px solid #0071f1;
  width: 83.5px;
  height: 70px;
  background-color: #0077ff;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #001227;
  transition: 0.3s;
  outline: none;
}
.btn-style {
  background-color: #00ff62;
  border: 1px solid#00f05c;
}
.btn:hover {
  background-color: #033e81;
  color: #7af6ff;
}
.calc-body div {
  font-size: 0;
}
