h1,
h2 {
  background-color: green;
  display: inline;
}
span {
  background-color: palevioletred;
}
.e1 {
  width: 600px;
  margin: auto;
  border: 5px solid green;
}
.e2 {
  max-width: 600px;
  margin: auto;
  border: 5px solid green;
}
